input{
    font-family: 'qquant';
    width: 200px;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    text-align: start;
  }

  @media(min-width: 320px){

    input{
      width: 150px;
      padding: 3px;
    }
  }