.inputSearch{
    text-align: center;
    margin: auto;
}
.qquant{
    color: turquoise;
    font-size: 50px ;
    text-align: center;
}
.form{
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 5px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #031973;

}
