.formsearch{
  text-align: center;
  margin: auto;

}
h2{
    padding: 5px;
    font-family: 'qquant';
    font-size: 20px;
    color: white;
    margin: auto;
    text-align: left;
    
}
section{
 margin-left: auto;
 margin-right: auto;
}
@media (max-width:320px){

  h2{
    font-size: 16px;
  }
  

}
