.scroll-table{
    height: 100px;  
    overflow: auto;
    width: 100%;

}
.principalTable{
    color: white;
    margin-bottom: 10vh;
    padding: 10px 2px;
    width: 90%;
    table-layout: fixed;
}

td,th,tr{
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    width: 90px;
    white-space: nowrap;
}

button{
    margin: auto;
    background-color: white;
    border: 1px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 10px;
}