.scroll-table{
    margin-top: 5px;
    height: 50vh;  
    overflow: auto;

}
table{
    width: 95%;
    table-layout: fixed;
    margin: auto;
}
th,td{
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;

}
.principalTable{
    color: white;
    margin-bottom: 10vh;
    padding: 10px 2px;
    width: 90%;
    table-layout: fixed;
}

button{
    font-family: 'qquant';
    background-color: turquoise;
    margin-right: 10px;
    border: 1px;
    border-radius: 20px;
    height: 20px;
}
.filter-label{
    width: 100px;
}
  @font-face{
    font-family: 'qquant';
    src: url('../../../assets/fonts/Comfortaa-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  