table{
    text-align: center;
    color: white;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}
td, tr{
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
}
@media (max-width:425px){

    td, tr{
      padding: 5px;
    }
  
  }
@media (max-width:375px){

    td, tr{
      padding: 3px;
    }
  
  }
@media (max-width:320px){

    td, tr{
      padding: 1px;
      font-size: 12px;
    }
  
  }