@font-face{
    font-family: 'qquant';
    src: url('../../../assets/fonts/Comfortaa-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  .logo{
    height: 50px;
    width: 50px;
    padding: 5px;
    display: block;
  }
 
  .header{
    width: 90vw;
    
  }
  